@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
/*variables*/
/*base*/
html,
body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  font-size: 12px;
}

body {
  margin: 0;
  font-size: 16px;
}

/*overlays*/
.overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba(44, 60, 90, 0.7);
  z-index: 10;
  color: white;
  display: none;
  opacity: 0;
  -ms-grid-columns: 1em 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1em;
      grid-template-columns: 1em 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1em;
  -ms-grid-rows: 1em 4em min-content min-content 4em 1em;
      grid-template-rows: 1em 4em -webkit-min-content -webkit-min-content 4em 1em;
      grid-template-rows: 1em 4em min-content min-content 4em 1em;
      grid-template-areas: 'bt bt bt bt bt bt bt bt bt bt bt bt' 'bl ch ch ch ch ch ch ch ch ch ch br' 'bl ci ci ci ci ci ci ci ci ci ci br' 'bl cb cb cb cb cb cb cb cb cb cb br' 'bl f1 f1 f1 f1 f1 f2 f2 f2 f2 f2 br' 'bb bb bb bb bb bb bb bb bb bb bb bb';
}

.overlay .card-header {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-area: ch;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay .card-header h2 {
  color: #48608d;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 1px;
  margin-left: 1em;
}

.overlay .card-img {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-area: ci;
  background-color: #48608d;
  padding: 1em;
}

.overlay .card-img .wrap-img {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 175px;
}

.overlay .card-img .animate-image {
  -webkit-animation: animateimage 30s infinite forwards;
          animation: animateimage 30s infinite forwards;
}

.overlay .card-body {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-area: cb;
  background-color: #fff;
  padding: 1em;
}

.overlay .card-body p {
  font-family: "Open Sans", sans-serif;
  color: #48608d;
  font-size: 1em;
  margin: 0;
}

.overlay .card-footer-1,
.overlay .card-footer-2 {
  background-color: #48608d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay .card-footer-1 a,
.overlay .card-footer-2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 60%;
  text-align: center;
  color: #48608d;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.85em;
  text-decoration: none;
  border-radius: 5px;
  -webkit-box-shadow: #2c3c5a 0px 3px;
          box-shadow: #2c3c5a 0px 3px;
  font-weight: bold;
}

.overlay .card-footer-1 a:hover,
.overlay .card-footer-2 a:hover {
  background-color: #f0f0f0;
}

.overlay .card-footer-1 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: f1;
}

.overlay .card-footer-2 {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-area: f2;
}

.overlay .bar-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: bt;
}

.overlay .bar-right {
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  -ms-grid-column: 12;
  grid-area: br;
}

.overlay .bar-bottom {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: bb;
}

.overlay .bar-left {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: bl;
}

.animate-overlay {
  -webkit-animation: overlay 0.5s forwards;
          animation: overlay 0.5s forwards;
}

.animate-overlay-back {
  -webkit-animation: overlayback 0.5s forwards;
          animation: overlayback 0.5s forwards;
}

/*slides*/
.swiper-container {
  height: 100%;
}

.swiper-container .slide1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1em 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1em 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1em 4em 1fr 4em 1fr 4em 1em;
      grid-template-rows: 1em 4em 1fr 4em 1fr 4em 1em;
      grid-template-areas: 'bt bt bt bt bt bt bt bt bt bt bt bt' 'bl h  h  h  h  h  h  h  h  h  h  h' 'bl p  p  p  p  p  p  p  p  p  p  p' 'bl t  t  t  t  t  t  t  t  t  t  t' 'bl d  d  d  d  d  d  d  d  d  d  d' 'bl f  f  f  f  f  f  f  f  f  f  f' 'bb bb bb bb bb bb bb bb bb bb bb bb';
}

.swiper-container .slide1 .header {
  background-color: #48608d;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-area: h;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-container .slide1 .header h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.75em;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0;
}

.swiper-container .slide1 .photo {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 11;
  grid-area: p;
  background-color: #2c3c5a;
  background-image: url("../img/delgadociterio.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.swiper-container .slide1 .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: t;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-container .slide1 .title h2 {
  text-align: center;
  color: #48608d;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  margin: 0;
}

.swiper-container .slide1 .description {
  background-color: #48608d;
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 11;
  grid-area: d;
  padding: 0em 3em 0em 3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
      grid-template-areas: 't  t  t' 'l1 l2 l3';
}

.swiper-container .slide1 .description .text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: t;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-container .slide1 .description .text p {
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin: 1em 0 2em 0;
}

.swiper-container .slide1 .description .icon {
  width: 2.5em;
  display: block;
  margin: 0 auto;
}

.swiper-container .slide1 .description .link {
  text-align: center;
  display: block;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75em;
  letter-spacing: 1px;
  margin-top: 1em;
  text-decoration: none;
}

.swiper-container .slide1 .description .logo1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: l1;
}

.swiper-container .slide1 .description .logo2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: l2;
}

.swiper-container .slide1 .description .logo3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: l3;
}

.swiper-container .slide1 .footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-area: f;
  background-color: #48608d;
}

.swiper-container .slide1 .bar-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: bt;
  background-color: #fff;
}

.swiper-container .slide1 .bar-left {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: bl;
  background-color: #fff;
}

.swiper-container .slide1 .bar-bottom {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: bb;
  background-color: #fff;
}

.swiper-container .slide2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1em 4em 1fr 1fr 1fr 4em 1em;
      grid-template-rows: 1em 4em 1fr 1fr 1fr 4em 1em;
      grid-template-areas: 'bt bt bt bt bt bt bt bt bt bt bt bt' 'h  h  h  h  h  h  h  h  h  h  h  h ' 't1 t1 t1 t1 t1 t1 t1 t1 t1 t1 t1 t1' 't2 t2 t2 t2 t2 t2 t2 t2 t2 t2 t2 t2' 't3 t3 t3 t3 t3 t3 t3 t3 t3 t3 t3 t3' 'f  f  f  f  f  f  f  f  f  f  f  f ' 'bb bb bb bb bb bb bb bb bb bb bb bb';
}

.swiper-container .slide2 .header {
  background-color: #48608d;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-area: h;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-container .slide2 .header h2 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0;
}

.swiper-container .slide2 .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0em 3em 0em 3em;
}

.swiper-container .slide2 .about-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  text-align: center;
}

.swiper-container .slide2 .text1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: t1;
  background-color: #fff;
}

.swiper-container .slide2 .text1 p {
  color: #48608d;
}

.swiper-container .slide2 .text2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: t2;
  background-color: #48608d;
}

.swiper-container .slide2 .text2 p {
  color: #fff;
}

.swiper-container .slide2 .text3 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: t3;
  background-color: #fff;
}

.swiper-container .slide2 .text3 p {
  color: #48608d;
}

.swiper-container .slide2 .bar-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: bt;
  background-color: #fff;
}

.swiper-container .slide2 .footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-area: f;
  background-color: #48608d;
}

.swiper-container .slide2 .bar-bottom {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: bb;
  background-color: #fff;
}

.swiper-container .slide3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1em 4em 1fr 1fr 1fr 1fr 4em 1em;
      grid-template-rows: 1em 4em 1fr 1fr 1fr 1fr 4em 1em;
      grid-template-areas: 'bt bt bt bt bt bt bt bt bt bt bt bt' 'h  h  h  h  h  h  h  h  h  h  h  h ' 'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1' 'p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2' 'p3 p3 p3 p3 p3 p3 p3 p3 p3 p3 p3 p3' 'p4 p4 p4 p4 p4 p4 p4 p4 p4 p4 p4 p4' 'f  f  f  f  f  f  f  f  f  f  f  f ' 'bb bb bb bb bb bb bb bb bb bb bb bb';
}

.swiper-container .slide3 .header {
  background-color: #48608d;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-area: h;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-container .slide3 .header h2 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0;
}

.swiper-container .slide3 .percentage {
  padding: 0em 3em 0em 3em;
}

.swiper-container .slide3 .percentage h3 {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  margin-top: 0.6em;
  margin-bottom: 0.4em;
}

.swiper-container .slide3 .percentage .per-container {
  width: 100%;
}

.swiper-container .slide3 .percentage .per-container .per-number {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  padding: 0.1em 0.4em;
}

.swiper-container .slide3 .percentage .per-container .per-number span {
  color: #fff;
}

.swiper-container .slide3 .percentage p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7em;
  margin-top: 0.6em;
}

.swiper-container .slide3 .combination1 {
  background-color: #48608d;
}

.swiper-container .slide3 .combination1 h3 {
  color: #fff;
}

.swiper-container .slide3 .combination1 .per-container {
  background-color: #fff;
}

.swiper-container .slide3 .combination1 .per-container .per-number {
  background-color: #2c3c5a;
}

.swiper-container .slide3 .combination1 p {
  color: #fff;
}

.swiper-container .slide3 .combination2 {
  background-color: #fff;
}

.swiper-container .slide3 .combination2 h3 {
  color: #48608d;
}

.swiper-container .slide3 .combination2 .per-container {
  background-color: #2c3c5a;
}

.swiper-container .slide3 .combination2 .per-container .per-number {
  background-color: #48608d;
}

.swiper-container .slide3 .combination2 p {
  color: #48608d;
}

.swiper-container .slide3 .per1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: p1;
}

.swiper-container .slide3 .per1 .per-number {
  width: 90%;
}

.swiper-container .slide3 .per2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: p2;
}

.swiper-container .slide3 .per2 .per-number {
  width: 80%;
}

.swiper-container .slide3 .per3 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: p3;
}

.swiper-container .slide3 .per3 .per-number {
  width: 70%;
}

.swiper-container .slide3 .per4 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: p4;
}

.swiper-container .slide3 .per4 .per-number {
  width: 90%;
}

.swiper-container .slide3 .bar-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: bt;
  background-color: #fff;
}

.swiper-container .slide3 .footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-area: f;
  background-color: #48608d;
}

.swiper-container .slide3 .bar-bottom {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: bb;
  background-color: #fff;
}

.swiper-container .slide4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1em;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1em;
  -ms-grid-rows: 1em 4em 1fr 1fr 1fr 4em 1em;
      grid-template-rows: 1em 4em 1fr 1fr 1fr 4em 1em;
      grid-template-areas: 'bt bt bt bt bt bt bt bt bt bt bt bt' 'h  h  h  h  h  h  h  h  h  h  h  br' 'bl g1 g1 g1 g1 g1 g2 g2 g2 g2 g2 br' 'bl g3 g3 g3 g3 g3 g4 g4 g4 g4 g4 br' 'bl g5 g5 g5 g5 g5 g6 g6 g6 g6 g6 br' 'f  f  f  f  f  f  f  f  f  f  f  br' 'bb bb bb bb bb bb bb bb bb bb bb bb';
}

.swiper-container .slide4 .header {
  background-color: #48608d;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-area: h;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-container .slide4 .header h2 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0;
}

.swiper-container .slide4 .gallery-space h3 {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  margin-top: 0.6em;
  margin-bottom: 0.8em;
  text-align: center;
}

.swiper-container .slide4 .gallery-space img {
  width: 80%;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.swiper-container .slide4 .gallery-space .gallery-image {
  border-radius: 5px;
  -webkit-box-shadow: #2c3c5a 0px 3px;
          box-shadow: #2c3c5a 0px 3px;
}

.swiper-container .slide4 .gallery-space .begallery {
  width: 40%;
}

.swiper-container .slide4 .combination1 {
  background-color: #fff;
}

.swiper-container .slide4 .combination1 h3 {
  color: #48608d;
}

.swiper-container .slide4 .combination2 {
  background-color: #48608d;
}

.swiper-container .slide4 .combination2 h3 {
  color: #fff;
}

.swiper-container .slide4 .combination2 a {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75em;
  letter-spacing: 1px;
  margin-top: 0.3em;
  text-decoration: none;
  text-align: center;
  display: block;
  line-height: 1.25em;
}

.swiper-container .slide4 .gall1 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: g1;
}

.swiper-container .slide4 .gall2 {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-area: g2;
}

.swiper-container .slide4 .gall3 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: g3;
}

.swiper-container .slide4 .gall4 {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-area: g4;
}

.swiper-container .slide4 .gall5 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: g5;
}

.swiper-container .slide4 .gall6 {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-area: g6;
}

.swiper-container .slide4 .gall6 img.begallery {
  margin-top: -0.75em;
}

.swiper-container .slide4 .footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-area: f;
  background-color: #48608d;
}

.swiper-container .slide4 .bar-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: bt;
  background-color: #fff;
}

.swiper-container .slide4 .bar-right {
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  -ms-grid-column: 12;
  grid-area: br;
  background-color: #fff;
}

.swiper-container .slide4 .bar-left {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: bl;
  background-color: #fff;
}

.swiper-container .slide4 .bar-bottom {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: bb;
  background-color: #fff;
}

/*swiper-buttons*/
.swiper-button-next,
.swiper-button-prev {
  top: initial !important;
  outline: none;
  bottom: 3.5em;
}

.swiper-button-next.swiper-button-white,
.swiper-button-prev.swiper-button-white {
  font-size: 0.5em;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-button-next {
  right: 2em !important;
}

.swiper-button-prev {
  left: 2em !important;
}

/*animations*/
@-webkit-keyframes overlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes overlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes overlayback {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes overlayback {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes animateimage {
  5% {
    background-position-y: 0%;
  }
  50% {
    background-position-y: 100%;
  }
  50% {
    background-position-y: 100%;
  }
  100% {
    background-position-y: 0%;
  }
}

@keyframes animateimage {
  5% {
    background-position-y: 0%;
  }
  50% {
    background-position-y: 100%;
  }
  50% {
    background-position-y: 100%;
  }
  100% {
    background-position-y: 0%;
  }
}

@media (min-width: 600px) {
  /*overlays*/
  .overlay {
    -ms-grid-rows: 1em 8em min-content min-content 8em 1em;
        grid-template-rows: 1em 8em -webkit-min-content -webkit-min-content 8em 1em;
        grid-template-rows: 1em 8em min-content min-content 8em 1em;
  }
  .overlay .card-header h2 {
    font-size: 1.75em;
  }
  .overlay .card-img .wrap-img {
    height: 300px;
  }
  .overlay .card-body p {
    font-size: 1.25em;
    margin-bottom: 2em;
  }
  .overlay .card-footer-1 a, .overlay .card-footer-2 a {
    width: 60%;
    height: 40%;
    font-size: 1em;
  }
  /*slides*/
  .swiper-container .slide1 {
    -ms-grid-rows: 1em 8em 1fr 6em 2fr 8em 1em;
        grid-template-rows: 1em 8em 1fr 6em 2fr 8em 1em;
  }
  .swiper-container .slide1 .header h1 {
    font-size: 2.25em;
  }
  .swiper-container .slide1 .title h2 {
    font-size: 2em;
  }
  .swiper-container .slide1 .description {
    padding: 0em 8em 0em 8em;
  }
  .swiper-container .slide1 .description .text p {
    font-size: 1.25em;
    margin: 2em 0 3em 0;
  }
  .swiper-container .slide1 .description .icon {
    width: 3.5em;
  }
  .swiper-container .slide1 .description .link {
    font-size: 1em;
  }
  .swiper-container .slide2 {
    -ms-grid-rows: 1em 8em 1fr 1fr 1fr 8em 1em;
        grid-template-rows: 1em 8em 1fr 1fr 1fr 8em 1em;
  }
  .swiper-container .slide2 .header h2 {
    font-size: 1.75em;
  }
  .swiper-container .slide2 .about-text {
    padding: 0em 8em 0em 8em;
  }
  .swiper-container .slide2 .about-text p {
    font-size: 1.25em;
  }
  .swiper-container .slide3 {
    -ms-grid-rows: 1em 8em 1fr 1fr 1fr 1fr 8em 1em;
        grid-template-rows: 1em 8em 1fr 1fr 1fr 1fr 8em 1em;
  }
  .swiper-container .slide3 .header h2 {
    font-size: 1.75em;
  }
  .swiper-container .slide3 .percentage {
    padding: 0em 8em 0em 8em;
  }
  .swiper-container .slide3 .percentage h3 {
    font-size: 1.25em;
    margin-top: 1em;
    margin-bottom: .4em;
  }
  .swiper-container .slide3 .percentage .per-container .per-number {
    font-size: 1.25em;
    padding: .1em .4em;
  }
  .swiper-container .slide3 .percentage p {
    font-size: 1em;
  }
  .swiper-container .slide4 {
    -ms-grid-rows: 1em 8em 1fr 1fr 1fr 8em 1em;
        grid-template-rows: 1em 8em 1fr 1fr 1fr 8em 1em;
  }
  .swiper-container .slide4 .header h2 {
    font-size: 1.75em;
  }
  .swiper-container .slide4 .gallery-space h3 {
    font-size: 1.25em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .swiper-container .slide4 .gallery-space img {
    width: 60%;
  }
  .swiper-container .slide4 .gallery-space .begallery {
    width: 30%;
  }
  .swiper-container .slide4 .combination2 a {
    font-size: 1em;
  }
  .swiper-button-next, .swiper-button-prev {
    bottom: 4em;
  }
  .swiper-button-next.swiper-button-white, .swiper-button-prev.swiper-button-white {
    font-size: .75em;
  }
}

@media (min-width: 1250px) {
  body {
    padding: 2em 15em;
    background-color: #2c3c5a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*overlays*/
  .overlay {
    -ms-grid-rows: 1em 4em min-content min-content 4em 1em;
        grid-template-rows: 1em 4em -webkit-min-content -webkit-min-content 4em 1em;
        grid-template-rows: 1em 4em min-content min-content 4em 1em;
    width: 60%;
    height: auto;
  }
  .overlay .card-header h2 {
    font-size: 1.75em;
  }
  .overlay .card-img {
    padding: 1em;
  }
  .overlay .card-img .wrap-img {
    background-size: 100% auto;
    /*width: 50em;*/
    height: 200px;
  }
  .overlay .card-body {
    padding: 1em;
  }
  .overlay .card-body p {
    font-size: 1em;
  }
  .overlay .card-footer-1 a, .overlay .card-footer-2 a {
    width: 80%;
    height: 60%;
    font-size: .85em;
    cursor: pointer;
  }
  .swiper-container {
    -webkit-box-shadow: 1em 1em #0b1933;
            box-shadow: 1em 1em #0b1933;
  }
  .swiper-container .slide1 {
    -ms-grid-rows: 1em 4em 1fr 4em 1fr 4em 1em;
        grid-template-rows: 1em 4em 1fr 4em 1fr 4em 1em;
  }
  .swiper-container .slide1 .header h1 {
    font-size: 2em;
  }
  .swiper-container .slide1 .photo {
    background-size: auto 90%;
  }
  .swiper-container .slide1 .title h2 {
    font-size: 1.5em;
  }
  .swiper-container .slide1 .description {
    padding: 0 14em;
  }
  .swiper-container .slide1 .description .text p {
    font-size: 1em;
    margin: 1em 0 2em 0;
  }
  .swiper-container .slide1 .description .icon {
    width: 2.5em;
  }
  .swiper-container .slide1 .description .link {
    font-size: .75em;
    margin-top: 1em;
  }
  .swiper-container .slide2 {
    -ms-grid-rows: 1em 4em 1fr 1fr 1fr 4em 1em;
        grid-template-rows: 1em 4em 1fr 1fr 1fr 4em 1em;
  }
  .swiper-container .slide2 .header h2 {
    font-size: 1.75em;
  }
  .swiper-container .slide2 .about-text {
    padding: 0em 14em;
  }
  .swiper-container .slide2 .about-text p {
    font-size: 1em;
  }
  .swiper-container .slide3 {
    -ms-grid-rows: 1em 4em 1fr 1fr 1fr 1fr 4em 1em;
        grid-template-rows: 1em 4em 1fr 1fr 1fr 1fr 4em 1em;
  }
  .swiper-container .slide3 .header h2 {
    font-size: 1.75em;
  }
  .swiper-container .slide3 .percentage {
    padding: 0em 14em;
  }
  .swiper-container .slide3 .percentage h3 {
    font-size: 1em;
  }
  .swiper-container .slide3 .percentage .per-container .per-number {
    font-size: 1em;
  }
  .swiper-container .slide3 .percentage p {
    font-size: .75em;
    margin-top: .6em;
  }
  .swiper-container .slide4 {
    -ms-grid-rows: 1em 4em 1fr 1fr 1fr 4em 1em;
        grid-template-rows: 1em 4em 1fr 1fr 1fr 4em 1em;
  }
  .swiper-container .slide4 .header h2 {
    font-size: 1.75em;
  }
  .swiper-container .slide4 .gallery-space h3 {
    font-size: 1em;
  }
  .swiper-container .slide4 .gallery-space img {
    width: 35%;
  }
  .swiper-container .slide4 .gallery-space .begallery {
    width: 20%;
  }
  .swiper-container .slide4 .combination2 a {
    font-size: .75em;
  }
  /*swiper-buttons*/
  .swiper-button-next, .swiper-button-prev {
    bottom: 3.5em;
  }
  .swiper-button-next.swiper-button-white, .swiper-button-prev.swiper-button-white {
    font-size: .5em;
  }
}

@media (min-width: 1450px) {
  body {
    padding: 2em 16em;
  }
  .overlay {
    -ms-grid-rows: 1em 6em min-content min-content 8em 1em;
        grid-template-rows: 1em 6em -webkit-min-content -webkit-min-content 8em 1em;
        grid-template-rows: 1em 6em min-content min-content 8em 1em;
  }
  .overlay .card-header h2 {
    font-size: 2em;
  }
  .overlay .card-img {
    padding: 2em;
  }
  .overlay .card-img .wrap-img {
    height: 300px;
  }
  .overlay .card-body {
    padding: 1em 2em;
  }
  .swiper-container .slide1 {
    -ms-grid-rows: 1em 6em 1fr 4em 1fr 4em 1em;
        grid-template-rows: 1em 6em 1fr 4em 1fr 4em 1em;
  }
  .swiper-container .slide1 .header h1 {
    font-size: 2.25em;
  }
  .swiper-container .slide1 .description {
    padding: 0 18em;
  }
  .swiper-container .slide1 .description .text p {
    margin: 2em 0 3em 0;
  }
  .swiper-container .slide2 {
    -ms-grid-rows: 1em 6em 1fr 1fr 1fr 4em 1em;
        grid-template-rows: 1em 6em 1fr 1fr 1fr 4em 1em;
  }
  .swiper-container .slide2 .header h2 {
    font-size: 2em;
  }
  .swiper-container .slide2 .about-text {
    padding: 0em 18em;
  }
  .swiper-container .slide2 .about-text p {
    font-size: 1.25em;
  }
  .swiper-container .slide3 {
    -ms-grid-rows: 1em 6em 1fr 1fr 1fr 1fr 4em 1em;
        grid-template-rows: 1em 6em 1fr 1fr 1fr 1fr 4em 1em;
  }
  .swiper-container .slide3 .header h2 {
    font-size: 2em;
  }
  .swiper-container .slide3 .percentage {
    padding: 0em 18em;
  }
  .swiper-container .slide3 .percentage h3 {
    font-size: 1.25em;
  }
  .swiper-container .slide3 .percentage p {
    font-size: .75em;
    margin-top: .6em;
  }
  .swiper-container .slide4 {
    -ms-grid-rows: 1em 6em 1fr 1fr 1fr 4em 1em;
        grid-template-rows: 1em 6em 1fr 1fr 1fr 4em 1em;
  }
  .swiper-container .slide4 .header h2 {
    font-size: 2em;
  }
  .swiper-container .slide4 .gallery-space h3 {
    font-size: 1.25em;
  }
  .swiper-container .slide4 .combination2 a {
    font-size: .85em;
  }
}

@media (min-width: 1700px) {
  body {
    padding: 4em 16em;
  }
  .overlay {
    -ms-grid-rows: 1em 6em min-content min-content 4em 1em;
        grid-template-rows: 1em 6em -webkit-min-content -webkit-min-content 4em 1em;
        grid-template-rows: 1em 6em min-content min-content 4em 1em;
    width: 40%;
  }
  .overlay .card-header h2 {
    font-size: 2em;
  }
  .overlay .card-img {
    padding: 2em;
  }
  .overlay .card-img .wrap-img {
    height: 300px;
  }
  .overlay .card-body {
    padding: 1em 2em;
  }
  .overlay .card-footer-1 a, .overlay .card-footer-2 a {
    width: 50%;
    height: 60%;
    font-size: 1em;
  }
  .swiper-container .slide3 .percentage p {
    font-size: 1em;
  }
  .swiper-container .slide4 {
    -ms-grid-rows: 1em 6em 1fr 1fr 1fr 4em 1em;
        grid-template-rows: 1em 6em 1fr 1fr 1fr 4em 1em;
  }
  .swiper-container .slide4 .header h2 {
    font-size: 2em;
  }
  .swiper-container .slide4 .gallery-space h3 {
    font-size: 1.25em;
  }
  .swiper-container .slide4 .gallery-space img {
    width: 30%;
  }
  .swiper-container .slide4 .combination2 a {
    font-size: .85em;
    margin-top: -.5em;
  }
}

@media (max-height: 430px) {
  /*overlays*/
  .overlay {
    -ms-grid-rows: 1em 4em min-content min-content 3em 1em;
        grid-template-rows: 1em 4em -webkit-min-content -webkit-min-content 3em 1em;
        grid-template-rows: 1em 4em min-content min-content 3em 1em;
        grid-template-areas: "bt bt bt bt bt bt bt bt bt bt bt bt" "bl ch ch ch ch ch ch ch ch ch ch br" "bl ci ci ci ci ci cb cb cb cb cb br" "bl ci ci ci ci ci cb cb cb cb cb br" "bl f1 f1 f1 f1 f1 f2 f2 f2 f2 f2 br" "bb bb bb bb bb bb bb bb bb bb bb bb";
  }
  .overlay .card-header h2 {
    font-size: 1.25em;
  }
  .overlay .card-img .wrap-img {
    height: 125px;
  }
  .overlay .card-body p {
    font-size: .75em;
  }
  .overlay .card-footer-1 a, .overlay .card-footer-2 a {
    width: 60%;
  }
  /*slides*/
  .swiper-container .slide1 {
    -ms-grid-rows: 1em 4em 1fr 4em 1fr 4em 1em;
        grid-template-rows: 1em 4em 1fr 4em 1fr 4em 1em;
        grid-template-areas: "bt bt bt bt bt bt bt bt bt bt bt bt" "bl h  h  h  h  h  t  t  t  t  t  t" "bl p  p  p  p  p  d  d  d  d  d  d" "bl p  p  p  p  p  d  d  d  d  d  d" "bl p  p  p  p  p  d  d  d  d  d  d" "bl f  f  f  f  f  f  f  f  f  f  f" "bb bb bb bb bb bb bb bb bb bb bb bb";
  }
  .swiper-container .slide1 .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 1em;
  }
  .swiper-container .slide1 .header h1 {
    font-size: 1.25em;
    text-align: left;
  }
  .swiper-container .slide1 .title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 1em;
  }
  .swiper-container .slide1 .title h2 {
    font-size: 1.25em;
    text-align: left;
  }
  .swiper-container .slide1 .description {
    padding: 0em 1em 0em 1em;
  }
  .swiper-container .slide1 .description .text p {
    text-align: left;
    margin: 1em 0 1em 0;
    font-size: .85em;
  }
  .swiper-container .slide1 .description .icon {
    width: 1em;
    display: inline;
  }
  .swiper-container .slide1 .description .link {
    text-align: left;
    margin-top: 0;
    font-size: .5em;
  }
  .swiper-container .slide2 {
    -ms-grid-rows: 1em 4em 1fr 1fr 1fr 4em 1em;
        grid-template-rows: 1em 4em 1fr 1fr 1fr 4em 1em;
        grid-template-areas: "bt bt bt bt bt bt bt bt bt bt bt bt" "h  h  h  h  h  h  h  h  h  h  h  h " "t1 t1 t1 t1 t2 t2 t2 t2 t3 t3 t3 t3" "t1 t1 t1 t1 t2 t2 t2 t2 t3 t3 t3 t3" "t1 t1 t1 t1 t2 t2 t2 t2 t3 t3 t3 t3" "f  f  f  f  f  f  f  f  f  f  f  f " "bb bb bb bb bb bb bb bb bb bb bb bb";
  }
  .swiper-container .slide2 .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 1em;
  }
  .swiper-container .slide2 .header h2 {
    font-size: 1.25em;
  }
  .swiper-container .slide2 .about-text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 4em;
  }
  .swiper-container .slide2 .about-text p {
    font-size: .85em;
    text-align: left;
    margin: 0;
  }
  .swiper-container .slide3 {
    -ms-grid-rows: 1em 4em 1fr 1fr 1fr 1fr 4em 1em;
        grid-template-rows: 1em 4em 1fr 1fr 1fr 1fr 4em 1em;
        grid-template-areas: "bt bt bt bt bt bt bt bt bt bt bt bt" "h  h  h  h  h  h  h  h  h  h  h  h " "p1 p1 p1 p2 p2 p2 p3 p3 p3 p4 p4 p4" "p1 p1 p1 p2 p2 p2 p3 p3 p3 p4 p4 p4" "p1 p1 p1 p2 p2 p2 p3 p3 p3 p4 p4 p4" "p1 p1 p1 p2 p2 p2 p3 p3 p3 p4 p4 p4" "f  f  f  f  f  f  f  f  f  f  f  f " "bb bb bb bb bb bb bb bb bb bb bb bb";
  }
  .swiper-container .slide3 .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 1em;
  }
  .swiper-container .slide3 .header h2 {
    font-size: 1.25em;
  }
  .swiper-container .slide3 .percentage {
    padding: 1em 3em 0 1em;
  }
  .swiper-container .slide3 .percentage h3 {
    margin-top: 0;
    margin-bottom: .75em;
  }
  .swiper-container .slide3 .percentage .per-container {
    display: none;
  }
  .swiper-container .slide3 .percentage p {
    font-size: .85em;
  }
  .swiper-container .slide4 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1em;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1em;
    -ms-grid-rows: 1em 4em 1fr 4em 1em;
        grid-template-rows: 1em 4em 1fr 4em 1em;
        grid-template-areas: "bt bt bt bt bt bt bt" "h  h  h  h  h  h  br" "g1 g2 g4 g3 g5 g6 br" "f  f  f  f  f  f  br" "bb bb bb bb bb bb bb";
  }
  .swiper-container .slide4 .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 1em;
  }
  .swiper-container .slide4 .header h2 {
    font-size: 1.25em;
  }
  .swiper-container .slide4 .gallery-space {
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .swiper-container .slide4 .gallery-space h3 {
    display: none;
  }
  .swiper-container .slide4 .gallery-space .gallery-image {
    display: inline;
    width: 90%;
  }
  .swiper-container .slide4 .gallery-space .begallery {
    display: inline;
    width: 90%;
  }
  .swiper-container .slide4 .gallery-space .link-gallery {
    text-align: left;
  }
  .swiper-container .slide4 .gallery-space .link-text {
    display: none;
  }
  .swiper-container .slide4 .bar-left {
    display: none;
  }
  .swiper-button-next, .swiper-button-prev {
    bottom: 7.5em;
  }
  .swiper-button-next.swiper-button-white, .swiper-button-prev.swiper-button-white {
    font-size: .3em;
  }
  .swiper-button-next {
    right: 4em !important;
  }
  .swiper-button-prev {
    left: 4em !important;
  }
}
/*# sourceMappingURL=main.css.map */